* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('album/apicture.jpg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    color: black;
}


.header-content {
    color: #808080;
    text-align: center;
    height: auto;
    padding: 20px 0;
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.9);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    padding-bottom: 30px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul li a {
    color: #808080;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #C0C0C0;
    color: white;
    border-radius: 5px;
}

.main-section, .registration-section, .socials-section {
    text-align: center;
    padding: 30px;
    position: relative;
    z-index: 1;
    margin: 100px auto;
    width: 50%;
    background-color: rgba(245, 245, 245, 0.82);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: auto;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.2em;
    margin: 20px 0;
}

p {
    font-size: 1.3em;
    line-height: 1.6em;
    margin-bottom: 20px;
}

.socials-section a {
    font-size: 1.2em;
    color: #000;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.socials-section a:hover {
    color: #007BFF;
}

footer {
    flex-shrink: 0; 
    background-color: rgba(245, 245, 245, 0.9);
    color: black;
    text-align: center;
    padding-top: 10px;
    margin-top: 100px;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
footer p {
    font-size: 1.3em;
}

.main-section h2, 
.registration-section h2, 
.socials-section h2,
.main-section-aboutus h2,
.main-section-bring h2,
.main-section-gallery h2 {
    color: #00BFFF;
}

.download-button {
    display: flex;
    justify-content: center;    /* Horizontální centrování textu */
    align-items: center;        /* Vertikální centrování textu */
    background-color: #00BFFF;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1.3em;           /* Zvětší velikost písma na požadovanou hodnotu */
    font-weight: bold;
    width: 300px;               /* Nastaví šířku tlačítka */
    height: 75px;               /* Nastaví výšku tlačítka */
}


.download-button:hover {
    background-color: #0056b3;
}

.registration-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.socials-section {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
}

.socials-section h2 {
    color: #00BFFF;
    font-size: 36px;
    margin-bottom: 20px;
}

.socials-section p {
    font-size: 18px;
    color: #00BFFF;
    line-height: 1.8;
}

.socials-section a {
    font-size: 23px;
    color: #00BFFF;
    line-height: 1.8;
}

.social-link {
    color: #00BFFF;
    text-decoration: none;
}

.social-link:hover {
    text-decoration: underline;
}


.socials-section{
    display: flex;          /* Flexbox pro zobrazení v řadě */
    justify-content: center; /* Centrovat obrázky horizontálně */
    gap: 10px;               /* Mezera mezi obrázky */
    margin: 0 auto;          /* Vystředí kontejner ve vztahu k nadřazenému prvku */
    max-width: 100%;         /* Zabrání přetékání, zajistí správné chování při změně velikosti okna */
}

.main-section p {
    font-size: 23px;
}

.slider-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    overflow: hidden;
}


.slider-background .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0; 
    transition: opacity 1s ease-in-out;
}


.slider-background .slide.active {
    opacity: 1; 
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%; 
    margin: 0 auto; 
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.slides img {
    min-width: 80%; 
    height: auto;
    object-fit: cover; 
    border-radius: 20px;
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
    border-radius: 25%;
    outline: none;
    transition: background-color 0.3s ease;
}

button.prev:hover, button.next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

button.prev {
    left: 15px;
}

button.next {
    right: 15px; 
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.dots span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dots span.active {
    background-color: #00BFFF;
}

.dots span:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Responzivní design */
@media (max-width: 768px) {
    .slider {
        width: 95%; /* Zúžení galerie na menších zařízeních */
    }

    button.prev, button.next {
        font-size: 1.5em; /* Zmenšení tlačítek na menších obrazovkách */
    }

    .dots span {
        width: 10px;
        height: 10px;
    }
}

.main-section-gallery {
    text-align: center;
    padding: 30px;
    position: relative;
    z-index: 1;
    margin: 100px auto;
    width: 80%;
    height: 80%;
    background-color: rgba(245, 245, 245, 0.82);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: auto;
}


.main-section-aboutus, .main-section-aboutus-two, .main-section-bring-two{
        text-align: center;
        flex-direction: column;
        padding: 40px 40px; /* Zachování paddingu 40px na všech stranách */
        position: relative;
        z-index: 1;
        margin: 50px auto; /* Zmenšení marginu z 100px na 50px pro vyvážení */
        width: 65%;
        background-color: rgba(245, 245, 245, 0.82);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        height: auto;
        line-height: 1.5  

}

.main-section-bring {
    text-align: center;
    flex-direction: column;
    padding: 40px 40px; /* Zachování paddingu 40px na všech stranách */
    position: relative;
    z-index: 1;
    margin: 50px auto; /* Zmenšení marginu z 100px na 50px pro vyvážení */
    width: 65%;
    background-color: rgba(245, 245, 245, 0.82);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    height: auto;
    font-size: 1.3em;  
    line-height: 1.5  
}

.main-section-bring-two h2 {
    font-size: 1.8em;    
}
.main-section-bring-two h3 {
    font-size: 1.5em;    
}
.main-section-bring-two a {
    color: #00BFFF;  
}



